body {
    background-color:#383e56; 
}

.container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head {

color: blanchedalmond;
font-size: 70px;
padding-bottom: -20px;
margin-bottom: 0;

}