body {
    background-color:#383e56; 
}

.container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head {
color: tan;
font-size: 50px;
margin-bottom: 0;
padding-top: 25px;
}